.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  direction: rtl;
  background-color: #282c34;
  min-height: 50px;
  display: block;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-top{
  background: #aaa0;
}
.menu{
  margin: auto;
  display: inline-block;
  background: #aaaaaa00;
}
.logo{
  margin-right: 4vh;
  margin-left: auto;
  display: inline-block;
  float: right;
}
.logo h5{
  margin:5px auto;
}
.login-mark{
  margin-top: 10px;
  font-size: 15px;
  margin-right: auto;
  margin-left: 4vh;
  display: inline-block;
  float: left;
}
.menu a{
  color: white;
  margin: 5px;
  padding: 5px;
  background: #aaaaaa00;
  text-decoration: none;
  font-size: 15px;
}